<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- External CSS -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

    <div class="login-container">
        <div class="login-card shadow">
            <!-- Left Section -->
            <div class="login-left text-center">
                <img th:src="@{images/img1.png}" alt="Team Illustration">
                <h3>Grow Your <span>Workspace</span> Experience</h3>
                <p>It is certainly important because it is only through hard work that we can achieve the goals of our
                    life. Thus, we all must work hard.</p>
            </div>

            <!-- Right Section -->
            <div class="login-right mx-auto text-center">
                <h3 class="text-center fw-semibold mb-3">Reset Password</h3>
                    <form th:action="@{/reset-password}" method="post">
                        <input type="hidden" name="email" th:value="${email}"/>
                        <div class="mb-3">
                            <input type="password" name="password" class="form-control" placeholder="New Password" required/>
                        </div>
                        <button type="submit" class="btn btn-success">Reset Password</button>
                    </form>
                    <p class="text-success mt-2" th:text="${message}"></p>
                    <p class="text-danger mt-2" th:text="${error}"></p>
                </div>
        </div>
    </div>
</body>
</html>